<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="grid">

      <!-- Left column -->
      <div class="left-section grid__col grid__col--3-of-12">
        <h2 class="center-h2 weight-700">{{ page.title_1 }}<br><span class="weight-400">{{ page.title_2 }}</span></h2>
        <div class="red-line"></div>

          <div class="social-icon-row">
            <a href="https://github.com/burks10"><img class="social-icon" src="/images/Github-s.png" alt=""></a>
            <a href="https://www.linkedin.com/in/anthony-burkholder-64396998/"><img class="social-icon social-icon-spacing" src="/images/Linkedin-s.png" alt=""></a>
            <a href="https://www.youtube.com/user/compscistudio"><img class="social-icon" src="/images/YouTube-s.png" alt=""></a>
          </div>
      </div>

      <!-- Right column -->
      <div class="right-section grid__col grid__col--9-of-12">
        <p class="p-blog-post">
          {{ content | remove: '<p>' | remove: '</p>'}}
        </p>
      </div>

      <div class="footer grid__col grid__col--9-of-12">
        <p class="p-date weight-300">&copy 2017<span class="weight-500"> All Rights Reserved</span></p>
      </div>

    </div>
  </body>
</html>
