<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="grid">

      <!-- Left column -->
      <div class="left-section grid__col grid__col--3-of-12">
        <h2 class="center-h2 weight-700">{{ page.title_1 }}<br><span class="weight-400">{{ page.title_2 }}</span></h2>
        <div class="red-line"></div>

          <div class="social-icon-row">
            <a href="https://github.com/burks10"><img class="social-icon" src="/images/Github-s.png" alt=""></a>
            <a href="https://www.linkedin.com/in/anthony-burkholder-64396998/"><img class="social-icon social-icon-spacing" src="/images/Linkedin-s.png" alt=""></a>
            <a href="https://www.youtube.com/user/compscistudio"><img class="social-icon" src="/images/YouTube-s.png" alt=""></a>
          </div>
      </div>

      <!-- Right column -->
      <div class="right-section grid__col grid__col--9-of-12">

        <!-- Section 1: About Me and Quick Links -->
        <div class="section">
          <h1 class="dark-header weight-400 center-header">Hi there</h1>
          <p class="text-blurb weight-300">I'm a final year Computer Engineering student out of the University of Guelph with a passion for software and web development.</p>
          <div class="center-buttons">
            <button class="button-primary" onclick="location.href='/blog/humble-beginnings'" type="button" name="button">Blog</button>
            <button class="button-primary" onclick="location.href='Anthony_Burkholder_Resume.pdf'" type="button" name="button">Resume</button>
            <button class="button-primary" onclick="location.href='#about-me'" type="button" name="button">About</button>
          </div>
        </div>

        <!-- Section 2: Tulip Retail -->
        <div id="work-experience" class="section grid__col grid__col--6-of-12">
          <img class="rounded-image" src="/images/tulip-logo.png" alt="">
          <h2 class="dark-header weight-400 center-header">Tulip Retail</h2>
          <h4 class="dark-header weight-300 center-header">Full Stack Developer</h4>
          <div class="center-buttons">
          </div>
        </div>
        <div class="section grid__col grid__col--6-of-12">
          <img class="rounded-image" src="/images/canon-logo.jpg" alt="">
          <h2 class="dark-header weight-400 center-header">Canon Innovation Lab</h2>
          <h4 class="dark-header weight-300 center-header">Rapid Prototype Developer</h4>
          <div class="center-buttons">
          </div>
        </div>
        <div class="section grid__col grid__col--6-of-12">
          <img class="rounded-image" src="/images/camis-logo.png" alt="">
          <h2 class="dark-header weight-400 center-header">Camis Inc.</h2>
          <h4 class="dark-header weight-300 center-header">Software Developer</h4>
          <div class="center-buttons">
          </div>
        </div>
        <div class="section grid__col grid__col--6-of-12">
          <img class="rounded-image" src="/images/sheridan-logo.png" alt="">
          <h2 class="dark-header weight-400 center-header">Sheridan College</h2>
          <h4 class="dark-header weight-300 center-header">Java Learning Assistant</h4>
          <div class="center-buttons">
          </div>
        </div>
        <div class="section grid__col grid__col--12-of-12">
          <img class="rounded-image" src="/images/pepsi-logo.png" alt="">
          <h2 class="dark-header weight-400 center-header">Pepsi Co.</h2>
          <h4 class="dark-header weight-300 center-header">Document Control Coordinator</h4>
          <div class="center-buttons">
          </div>
        </div>
        <div id="about-me" class="section grid__col grid__col--12-of-12">
          <h2 class="dark-header weight-400 center-header">A Bit About Me</h2>
          <p class="text-blurb weight-300">My name is Anthony Burkholder and I'm a final year Computer Engineering student out of the University of Guelph. Throughout my five years as a co-op student, I have had the opportunity to explore a vast array of fields including web and software development, teaching, prototype development and even some industrial areas. In my spare time I enjoy working on personal projects ranging from hardware hacks to software projects. Although I love development, I have a passion for cars and consider myself a bit of a car enthusiast. My dad and I are currently building a Type 65 Shelby Daytona Coupe and are excited to get it running this summer. </p>
        </div>
      </div>

      <div class="footer grid__col grid__col--9-of-12">
        <p class="left-aligned-footer-text weight-300">&copy 2017<span class="weight-500"> All Rights Reserved</span></p>
      </div>

    </div>
  </body>
</html>
