
body {margin: 0px;} /* Remove this border, because its a pain! */
p { font-family: "Quicksand" }
.weight-700 { font-weight: 700; }
.weight-500 { font-weight: 500; }
.weight-400 { font-weight: 400; }
.weight-300 { font-weight: 300; }

h1, h2, h3, h4, h5, h6{
  font-family: "Quicksand";
  color: white;
  margin: 0px;
  line-height: 1.7em;
  letter-spacing: 1px;
}

a {
  color: #F3745B;
}

.red-line {
  background-color: #F3745B;
  height: 5px;
  width: 50%;
  margin: 10px auto;
}

.author-name {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 80px;
}

.social-icon-row {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.social-icon-spacing {
  padding-left: 10px;
  padding-right: 10px;
}

.p-blog-post {
  font-family: "Quicksand";
  font-weight: 400;
  color: #484957;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0px;
  margin-left: 11px;
  line-height: 2.3em;
  font-size: 18px;
  letter-spacing: 1px;
}

.p-blog-post::first-letter {
  font-size: 60px;
  font-weight: 500;
}

.p-date {
  color: #484957;
  padding-left: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 65px;
}


.center-h2 {
  text-align: center;
  padding-top: 75px;
}

.left-section {
  background-color: #474652;
  height: 100vh;
  padding: 0px;
  position: fixed;
  margin: 0px;
  left: 0px;
  background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
}

.right-section {
  background-color: #ffffff;
  height: 100%;
  padding: 0px;
  float: right;
}

.footer {
  position: fixed;
  bottom: 0px;
  right: 0;
  margin: 0;
  padding: 0;
  height: 70px;
  box-shadow: 0px -4px 20px 0px rgba(1,1,1,0.05);
  background-color: #ffffff;
  margin-left: 0px;
}

/* When the screen becomes smaller (phone/tablet) */
@media (max-width: 700px) {
  .left-section {
    height: 270px;
    position: inherit;
    float: none;
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .right-section {
    float: none;
  }
  .footer {
    width: 100%;
  }

  .author-name {
    position: relative;
    bottom: 0px;
  }

  .p-blog-post {
    padding-left: 60px;
    padding-right: 40px;
  }

  .center-h2 {
    padding-top: 50px;
  }

  .social-icon-row {
    position: relative;
    text-align: center;
    top: 20px;
  }

  .social-icon {
    padding-left: 2px;
    padding-right: 2px;
    width: 40px;
    height: 40px;
  }
}
